.score-time-con {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    width: 100%;
}

/* .container {
    height: unset!important;
    min-height: 100vh!important;
} */

.score-label {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    border-bottom: 3px solid #000;
    padding-bottom: 1px;
    line-height: 1;
}

.game-board-con {
    width: 100%;
    border: 4px solid black;
    height: 100%;
    margin: 15px 0px;
    padding: 15px;
}

.user-name {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    text-decoration: underline;
    padding-bottom: 1px;
    line-height: 1;
    font-style: italic;
    text-align: right;
}

.tiles-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.tile {
    width: 10%;
    height: 100px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    margin: 15px 1%;
}

.active-tile {
    background-color: #f0e8b5;
    border: 4px solid #a58d01;
}

@media screen and (max-width: 768px){
    .game-board-con {
        padding: 10px;
    }
    .score-label {
        font-size: 20px;
    }
    .user-name {
        font-size: 20px;
        text-align: center;
    }
    .tile {
        width: 22%;
        height: 60px;
        font-size: 20px;
        margin: 1.5%;
    }
}
